<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% load tree_menu_tags %}
{% show_menu "MyMenu" "unordered-list" %}
<h1>Welcome Back, {{ user.username }}</h1>

{% load staticfiles %}
<p>
<img src="{% static "img/default.png" %}" alt="default" style="width:64px;height:64px;float:left"/>
<ul style="list-style-type:none">
 <li>{{ user.username }}</li>
 <li>{{ user.email }}</li>
 </ul>
</p>

<br>
    
<p>
{% if events %}
    <ul>
    {% for event in events %}
        {{ event.title }}
    {% endfor %}
    </ul>
{% else %}
    <p>No tickets are available.</p>
{% endif %}
</p>

<p><a href="/logout/">logout</a></p>
</body>
</html>
