<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% load tree_menu_tags %}
{% if MyMenu %}
<meh>{% show_menu "MyMenu" "unordered-list" %}</meh>
{% endif %}
<h1>Welcome Back, {{ user.username }}</h1>

{% load staticfiles %}
<p>
<img src="{% static "img/default.png" %}" alt="default" style="width:64px;height:64px;float:left"/>
<ul style="list-style-type:none">
 <li>{{ user.username }}</li>
 <li>{{ user.email }}</li>
 </ul>
</p>

<br>

<label style="float:right;padding-right: 250px">What's Happening This Week?</label>

<br>

<div id = "whatsnew" style="overflow-y: scroll;
float:right; height:500px; width=300px; PADDING-RIGHT:250px">
    
<p>
{% if events %}
    <ul>
    {% for event in events %}
        <b>{{ event.title }}</b> <br> {{event.type}} <br> {{event.venue}} <br> <a href="/home/">Order Now</a> <br> <br>
    {% endfor %}
    </ul>
{% else %}
    <p>No tickets are available.</p>
{% endif %}
</p>
</div>

<br>
    
<div style="position: absolute;bottom: 0px"><a href="{% url 'settings' %}">Settings</a> | <a href="/logout/">logout</a></div>
</body>
</html>
